{% extends 'base.html' %}

{% block content %}

    <h1>My Submissions</h1>

    {% for submission in submission_list %}
        {% if user.id == submission.author.id %}
        <div style="padding:1rem;">
            <div class="card" style="width: auto;">
                <div class="card-header">
                    <h1>{{ submission.title }}</h1>
                    {{ submission.author }} - {{ submission.pub_date }}
                </div>
                <div class="card-body">
                    <p>{{ submission.content }}</p>
                    <a href="{% url 'submission-detail' submission.pk %}" class="btn btn-dark">Continue Reading</a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

{% endblock %}