{% extends 'base.html' %}
{% block page_title %}
    DisscoverBlog . Add a New Submission
{% endblock %}
{% block content %}

    <h1 xmlns="http://www.w3.org/1999/html">Add a Submission</h1>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
        {#    create a private key encryption to prevent attacks#}
        {#    as_p stands for <p></p> as such it will put it into a new paragraph every line#}
            {{ form.as_p }}
            <a href="{% url 'home' %}" class="btn btn-dark">Post</a>
        </form>
    </div>
    <script>
        var name = "{{ user.first_name }} {{ user.last_name }}"
        document.getElementById("f_id").value=name
    </script>

{% endblock %}